@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(i) {
  font-family: "Poppins", sans-serif;
}

body {
  @apply bg-[#ae9cff];
}

.container {
  @apply bg-[#fff] w-[90vmin] absolute top-[50%] left-[50%] px-[30px] py-[40px] rounded-xl;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
  transform: translate(-50%, -50%);
}

.search-box {
  @apply w-full flex justify-between;
}

.search-box input {
  @apply p-[5px] w-[70%] border-none outline-none text-[16px];
  border-bottom: 3px solid #ae9cff;
}

.search-box button {
  @apply py-[15px] w-[25%] bg-[#ae9cff] border-none outline-none text-[#fff] rounded-md;
}
.result {
  @apply relative;
}

.result h3 {
  @apply text-[30px] text-[#1f194c];
}

.result .word {
  @apply flex justify-between mt-[80px];
}

.result button {
  @apply bg-transparent text-[#ae9cff] border-none outline-none text-[18px];
}

.result .details {
  @apply flex gap-[10px] text-[#b3b6d4] mt-[5px] mb-[20px] text-[14px];
}

.word-details {
  @apply flex flex-col gap-[20px];
}

.word-meaning {
  @apply text-[#575a7b];
}

.word-example {
  @apply text-[#575a7b] italic pl-[20px] mt-[30px];
  border-left: 5px solid #ae9cff;
}

.error {
  @apply mt-[80px] text-center;
}
